{% extends "base.html"%}
{%load static%}
{% block content%}
    <div class=" text-center">
      <h1 class="text-gray-800">Flood Analytics Information System (FAIS)</h1>
      
    </div>
    <div class=" text-center">
      <h3 style="padding-top:-50px" class="h3 control-label">FAIS is a National Scale Analytics Pipeline for Data Gathering and Computing</h3>
    </div>
      <!-- Average Water Level Percentile -->
      <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container ">
      <div class="row">
        <div class="col-sm-3">
          <div class="text-center">
            <img src="{% static 'faisApp/icon.png' %}" class="rounded" >
          </div>
        </div>
        <div class="col-sm-3">
          <div class="text-center">
            <img style="width: 200px; height: 200px" src="https://www.clemson.edu/brand/resources/logos/seal/orange-purple.png" class="rounded" >
          </div>
        </div>
        <div class="col-sm-3">
          <div class="text-center">
            <img style="width: 200px; height: 200px" src="https://i.pinimg.com/originals/7f/1d/91/7f1d91463b333f274f9e1c316591e6a7.png" class="rounded" >
          </div>
        </div>
        <div class="col-sm-3">
          <div class="text-center">
            <img style="width: 200px; height: 200px" src="https://www.nsf.gov/images/logos/NSF_4-Color_bitmap_Logo.png" class="rounded" >
            <div>
                
            </div>
        </div>
        </div>
      </div>
    </div>  
    <br>
    <br>
    <br>
    <br>
    <div class="text-center">
      <span style="padding-top:-50px" class="control-label">FAIS is funded by NSF grand # 1901646 <br> Contact samadi@clemson.edu</span>
    <div>
          
    <br>
    <br>
    <br>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
     
    <!-- Water Level Mean -->
      
      <!-- Water Level Median -->
      

      <!-- Pending Requests Card Example -->
      
    <div class="row">
            <!-- Area Chart -->
            
            <!-- Pie Chart -->
            
    </div>
{% endblock content %}
